DEBUG=True
SECRET_KEY=change-me-in-production-and-keep-this-fake
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://kinomania:kinomania@localhost:5432/kinomania
LANGUAGE_CODE=pl
TIME_ZONE=Europe/Warsaw
