DEBUG=True
SECRET_KEY=change-me-in-production-and-keep-this-fake
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://kinomania:kinomania@localhost:5439/kinomania
LANGUAGE_CODE=pl
TIME_ZONE=Europe/Warsaw

DEFAULT_FROM_EMAIL=noreply@kinomania.local
# SMTP — used only by prod settings, placeholder for now
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True

#  Stripe
STRIPE_API_KEY=sk_test_xxx
BASE_URL=http://localhost:8000
STRIPE_WEBHOOK_SECRET=whsec_xxx

# JWT (simplejwt)
JWT_ACCESS_TOKEN_LIFETIME_MIN=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# DRF throttling
THROTTLE_ANON=100/hour
THROTTLE_USER=1000/hour
THROTTLE_AUTH=20/hour
